<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/paginas.css">

</head>
<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
</style>
<SCRIPT>
  var map;
  var marker_inicio;
  var marker_fin;

</SCRIPT>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="nbar" href="../main.html">
                    <img src="../images/home.png" width="20" height="20" id="nbarImgMenu" class="d-inline-block" alt="">
                    Menú
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nbar" href="./pantallaEmpleados.html">Empleados</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nbar" href="./pantallaVehiculos.html">Vehículos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nbar" href="./pantallaClientes.html">Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="nbarAct" href="./pantallaVisitas.html">Visitas<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="nbar" href="./pantallaLocalizaciones.html">Localizaciones</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <button class="btn btn-dark" id="nbarLink" onclick="logOut()">
                  <img src="../images/user.png" width="18" height="18" class="d-inline-block align-top" alt="">
                  Cerrar Sesión</button>
            </li>
        </ul>
      </div>
  </nav>

  <h1 id="titulos">Visitas</h1>
  <div class="row">

    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        var lugar_inicio = {
          lat: -0.001,
          lng: -78.67
        };
        var lugar_fin = {
          lat: 0.002,
          lng: -78.5647
        };

        // The map, centered at Uluru
          map = new google.maps.Map(
          document.getElementById('map'), {
            zoom: 10,
            center: lugar_inicio
          });
        // The marker, positioned at Uluru
        /*marker_inicio = new google.maps.Marker({
          position: lugar_inicio,
          map: map
        });
        marker_fin = new google.maps.Marker({
          position: lugar_fin,
          map: map
        });*/

      }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr0u1SZQWsC8yQ9vaB7uSHS6hk0OzR1oo&callback=initMap">
    </script>
  </div>
    <div class="container" id="divBuscar">
      <div class="form-group row">
          <div class="form-inline">
              <label for="empleado">Fecha Inicio:</label>
              <input id="fechaInicio"  style="margin-left: 20px" class="form-control" type="date"  type="date">
          </div>
          <div class="form-inline" style="margin-left: 40px" >
              <label for="empleado">Fecha Fin:</label>
              <input id="fechaFin" style="margin-left: 20px" class="form-control" type="date"  type="date">
          </div>
      </div>
      <div class="form-group row">
          <div class="form-inline">
              <label for="empleado">Empleado:</label>
              <select id="empleado" class="custom-select" style="margin-left: 30px"> 
                  <option id="selEmpleado" value="">Seleccione un empleado</option>
              </select>
          </div>
          <div>
              <button id="btnBuscar" onclick="buscarVisitas()" style="margin-left: 20px" class="btn btn-success">
                <img src="../images/search.png" width="18" height="18">
                Buscar
              </button>
          </div>
          <div id="divMostrar" style="display:none">
              <button id="btnMostrarMapa" onclick="verTodosMapa()" style="margin-left: 20px" class="btn btn-info">
                <img src="../images/map.png" width="18" height="18">
                Ver Todos
              </button>
          </div>
      </div>
    </div>
    <div class="row">
    <div class="container col-11" id="tabla" style="display: none">
        <table class="table" id="myTable">
          <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Observación</th>
            <th>Imagen</th>
           <!-- <th>Ubicación Inicio</th>
            <th>Ubicación Fin</th>-->
            <th>Ubicación</th>

          </tr>
        </thead>
      </table>
    </div>
  </div>
  <!--<button  class="btn-info" onclick="generateexcel('myTable')">Exportar Excel</button>-->


  <div id="divMapa" class=" container col-10" style="display:none" >
    <!--script para que funcione el mapa de google -->
    <h3>MAPA</h3>
    <button onclick="cerrarMapa()" style="float:right"  class="btn btn-danger">X</button>
    <div id="map"></div>
</div>
  <script src="../js/visitas.js">
  </script>
</body>

</html>