<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../CSS/paginas.css">
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="../main.html">
                        <img src="../images/home.png" width="20" height="20" id="nbarImgMenu" class="d-inline-block" alt="">
                        Menú
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaEmpleados.html">Empleados</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVehiculos.html">Vehículos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbarAct" href="./pantallaClientes.html">Clientes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVisitas.html">Visitas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaLocalizaciones.html">Localizaciones</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <button class="btn btn-dark" id="nbarLink" onclick="logOut()">
                      <img src="../images/user.png" width="18" height="18" class="d-inline-block align-top" alt="">
                      Cerrar Sesión</button>
                </li>
            </ul>
          </div>
      </nav>

  <h1 id = "titulos">Clientes</h1>

<div class="row">


<div class="col-sm-10" id="tabla">
  <table class="table" id="myTable">
    <thead>
        <tr>
          <th>#</th>
          <th>RUC</th>
          <th>Nombre</th>
          <th>Responsable</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Celular</th>
          <th>Email</th>
          <th>Imagen</th>
          <th>Ubicacion</th>
        </tr>
      </thead>
  </table>
  </div>
  <div class=" container col-4" id="divNuevo" style="width: 25%; display:none">
    <button onclick="cerrar()" style="float:right"  class="btn btn-danger">X</button>
    <input type="hidden" id="key_cliente"  name="key_cliente" value="">
  
      <div class="container" style="float: left;">
        <h2 id="nuevos">Editar Cliente</h2>
  
          <div class="form-group">
              <label for="ruc"> RUC:</label>
              <input  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              type = "number" maxlength = "15" class="form-control" id="ruc" placeholder="Ingrese el RUC" name="ruc">
          </div>
          <div class="form-group">
              
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" name="nombre">
          </div>
          <div class="form-group">
                  <label for="responsable">Responsable:</label>
                  <input type="text" class="form-control" id="responsable" placeholder="Ingrese el responsable" name="responsable">
          </div>
          <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion"  placeholder="Ingrese la dirección"  name="direccion">
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type = "number" maxlength = "9" class="form-control" id="telefono"  placeholder="Ingrese el teléfono"  name="telefono">
          </div>
          <div class="form-group">
            <label for="celular">Celular:</label>
            <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type = "number" maxlength = "10" class="form-control" id="celular"  placeholder="Ingrese el celular"  name="celular">
          </div>
          <div class="form-group" id="divEmail">
            <label for="correo">Email:</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" id="email" placeholder="Ingrese el email" name="email">
          </div>
          <div class="form-group" style="display:none" >
            <label for="imagenURI">imagenURI">Dirección:</label>
            <input type="text" class="form-control" id="imagenURI" name="imagenURI">
          </div>
          <div class="form-group" style="display:none" >
            <label for="lat">lat:</label>
            <input type="text" class="form-control" id="lat"  name="lat">
          </div>
          <div class="form-group" style="display:none" >
            <label for="lng">lng:</label>
            <input type="text" class="form-control" id="lng" name="lng">
          </div>
          <button  class="btn btn-info" id="btn_editar" onclick="ejecutarEditar()">Guardar</button>
      </div>
      </div>
    </div>
  </div>
  <script src="../js/clientes.js"></script>
</body>
</html>
