<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../CSS/paginas.css">
  <style>
    #map {
      height: 50vh;
      /* The height is 400 pixels */
      width: 100%;
      /* The width is the width of the web page */
    }
  </style>
  <script>
    $('#myTable tr td').on("DOMSubtreeModified", function () {
      alert('changed');
    });
  </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="../main.html">
                        <img src="../images/home.png" width="20" height="20" id="nbarImgMenu" class="d-inline-block" alt="">
                        Menú
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaEmpleados.html">Empleados</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVehiculos.html">Vehículos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaClientes.html">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVisitas.html">Visitas<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" id="nbarAct" href="./pantallaLocalizaciones.html">Localizaciones<span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <button class="btn btn-dark" id="nbarLink" onclick="logOut()">
                      <img src="../images/user.png" width="18" height="18" class="d-inline-block align-top" alt="">
                      Cerrar Sesión</button>
                </li>
            </ul>
          </div>
      </nav>

  <h1 id = "titulos">Ubicación de Vehículos</h1>
  <div>
    <div id="divMostrar">
        <button id="btnMostrar" onclick="verTodosMapa()" class="btn btn-info">
          <img src="../images/map.png" width="18" height="18" class="d-inline-block align-top" alt="">
          Ver Todos
        </button>
    </div>
  </div>
  <div class="row">
  <div class="container col-11" id="tabla">
      <table class="table" id="myTable">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Bateria</th>
            <th>Placa</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div id="divMapa" class=" container col-10" >
      <div id="map" style="height: 400px"></div>
  </div>
  <script src="../js/localizaciones.js"></script>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = {
        lat: -0.209807,
        lng: -78.491362
      };
      // The map, centered at Uluru
      var map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
  </script>
  <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr0u1SZQWsC8yQ9vaB7uSHS6hk0OzR1oo&callback=initMap">
  </script>
</body>

</html>