

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://www.gstatic.com/firebasejs/5.4.1/firebase.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../CSS/paginas.css">
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="../main.html">
                        <img src="../images/home.png" width="20" height="20" id="nbarImgMenu" class="d-inline-block" alt="">
                        Menú
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbarAct" href="./pantallaEmpleados.html">Empleados<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVehiculos.html">Vehículos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaClientes.html">Clientes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="nbar" href="./pantallaVisitas.html">Visitas</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active">
                    <button class="btn btn-dark" id="nbarLink" onclick="logOut()">
                      <img src="../images/user.png" width="18" height="18" class="d-inline-block align-top" alt="">
                      Cerrar Sesión</button>
                </li>
            </ul>
          </div>
      </nav>
<div class="container">
    <h1 id = "titulos">Empleados</h1>
    <button hidden="hidden" class="btn btn-success form-control" onclick="myFunction()">Cargar</button>
</div>
<div>
    <button class="btn btn-info btn-sm form-control " id="btnNuevo" onclick="mostrarNuevo()">Ingresar Nuevo</button>
</div>

<div class="row">
<div class="container col-11" id="tabla">
  <table class="table" id="myTable">
    <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Cédula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
  </table>

</div>


<!-- formulario para crear un nuevo empleado -->
<div class=" container col-4" id="divNuevo" style="width: 25%; display:none">
  <button onclick="cerrarNuevo()" style="float:right"  class="btn btn-danger">X</button>
  <input type="hidden" id="key_empleado"  name="key_empleado" value="">

    <div class="container" style="float: left;">
      <h2 id="nuevos">Crear Nuevo Empleado</h2>

        <div class="form-group">
            <label for="cedula"> Cédula:</label>
            <input type="number" maxlength="13" class="form-control" id="cedula" placeholder="Ingrese la cédula" name="cedula">
        </div>
        <div class="form-group">
            
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" name="nombre">
        </div>
        <div class="form-group">
                <label for="apelido">Apellido:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido" name="apelido">
        </div>

        
        <div class="form-group">
          <label for="email">Telefono:</label>
          <input type="number" maxlength="10" class="form-control" id="telefono"  placeholder="Ingrese el teléfono"  name="telefono">
    
        </div>

        <div class="form-group" id="divEmail">
          <label for="correo">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese el email" name="email">
        </div>

        <div class="form-group" id="divPass">
          <label for="password">Contraseña:</label>
          <input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña" name="password">
        </div>

        <button  class="btn btn-success" id="btn_insertar" onclick="ejecutarInsert()">Insertar</button>
        <button  class="btn btn-info" id="btn_editar" onclick="ejecutarEditar()">Guardar</button>


    </div>
    </div>
  </div>

<script src="../js/empleados.js"></script>

<!--<script src="../js/empleados.js"></script>-->
</body>
</html>
