#titulos {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 25px;
    font-size: 3rem;
    font-style: initial;
}
#nuevos{
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 0, 0);
}
#nbar{
    color: lightgray;
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
    margin-left: 10px;
}
#nbarAct{
    color:white;
    font-size: 16px;
    text-align: center;
    margin-left: 10px;
}
#nbarLink{
    color:lightgrey;
    font-size: 12px;
    margin-left: 10px;
    text-align: center;
}
#nbarImg{
    margin-top: -5px;
}
#nbarImgMenu{
    margin-top: -5px;
}
#btnNuevo{
    height:35px;
    width:150px;
    margin-left:75px; 
    margin-top: 25px
}
#tabla{
    margin-left: 75px;
    margin-top: 25px;
}
th, td{
    text-align: center;
}
